<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
      <section name="eclipseSettings" type="EclipseAutomation.Config.EclipseImagingSettings, EclipseAutomation" />
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="EclipseAutomation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
   </startup>
   <eclipseSettings>
      <!--  Used this app to get reasonably accurate times for my location
            https://www.solareclipsetimer.com/
            
            The most important adjustment is to the eclipseTimes node. 
            Make sure these are local times and accurate as possible.
      -->
      <eclipseTimes eclipseDate="4/8/2024"
                    c1="12:24:02"
                    c2="13:41:35"
                    c3="13:45:03"
                    c4="15:03:13" />

      <taskParameters annularOffset="00:05:00"
                      annularCount="7"
                      secondContactWindow="00:00:08"
                      totalityInterval="00:00:30" />
      
      <!-- Used these sites (and testing with MY solar filter) to come up with the below settings 
           https://www.mreclipse.com/SEphoto/SEphoto.html
           http://xjubier.free.fr/en/site_pages/SolarEclipseExposure.html
           Remember, digital cameras capturing RAW work great when slightly underexposed.
      -->
      <annularStack isoNumber="200" 
                    fNumber="8" 
                    exposureCompensation="0.0" 
                    shutterSpeeds="1/2000;1/1000" />
      
      <!-- WITH my filter in place -->
      <secondContactStack isoNumber="200" 
                          fNumber="8" 
                          exposureCompensation="0.0" 
                          shutterSpeeds="1/800;1/400;1/200" />
      
      <!-- I kicked up my ISO a bit -->
      <totalityStack isoNumber="400" 
                     fNumber="8" 
                     exposureCompensation="0.0" 
                     shutterSpeeds="1/6400;1/3200;1/800;1/250;1/100;1/50;1/13;1/6" />
      
   </eclipseSettings>
   <nlog>
      <!-- 
           See https://github.com/nlog/nlog/wiki/Configuration-file 
           for information on customizing logging rules and outputs.
      -->
      <targets>
         <target type="File" name="LogFile" fileName="${specialfolder:folder=CommonApplicationData}/Wyrus/EclipseAutomation/LogFile.txt" archiveFileName="${specialfolder:folder=CommonApplicationData}/Wyrus/EclipseAutomation/LogFile_{#}.txt" archiveAboveSize="1000000" maxArchiveFiles="9" archiveNumbering="Rolling" archiveOldFileOnStartup="true" layout="${longdate}|${threadid}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />
         <target type="ColoredConsole" name="Console" useDefaultRowHighlightingRules="true" layout="${time}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="LogFile" />
         <logger name="*" minlevel="Debug" writeTo="Console" />
      </rules>
   </nlog>
   <applicationSettings>
      <EclipseAutomation.Properties.Settings>
         <setting name="ImageSavePath" serializeAs="String">
            <value>C:\temp\EclipseAutomation</value>
         </setting>
      </EclipseAutomation.Properties.Settings>
   </applicationSettings>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>