<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
   </configSections>
   <nlog>
      <!-- 
           See https://github.com/nlog/nlog/wiki/Configuration-file 
           for information on customizing logging rules and outputs.
      -->
      <targets>
         <target type="Console" name="Console" layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="Console" />
      </rules>
   </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>