<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
   </configSections>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
   </startup>
   <nlog>
      <!-- 
           See https://github.com/nlog/nlog/wiki/Configuration-file 
           for information on customizing logging rules and outputs.
      -->
      <targets>
         <target type="File"
                 name="LogFile"
                 fileName="${specialfolder:folder=CommonApplicationData}/Wyrus/DigiCamControlExperiments.txt"
                 archiveFileName="${specialfolder:folder=CommonApplicationData}/Wyrus/DigiCamControlExperiments_{#}.txt"
                 archiveAboveSize="2000000"
                 maxArchiveFiles="9"
                 archiveNumbering="Rolling"
                 archiveOldFileOnStartup="true"
                 layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />
         <target type="ColoredConsole"
                 name="Console"
                 useDefaultRowHighlightingRules="true"
                 layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="Console" />
      </rules>
   </nlog>

</configuration>